In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: beautifulsoup4 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: pandas in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from requests) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.11)
Requirement already satisfied: soupsieve>1.2 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/dillonsullivan/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
## ideas

# webscrape each draft page and filter position to qb and change the year
# create a list of each qb per year then webscrape stats based off career, seasons, games
# combine all individual qb data into one dataset with all qbs

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time  # Import the time module for adding delays

# List of years to scrape
years = [2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009]

# List to store data across years
draft_data = []

# Loop over each year
for year in years:
    # Construct the URL for the draft page
    url = f'https://www.pro-football-reference.com/years/{year}/draft.htm'
    
    # Send a GET request to the URL
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page using BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find the table with the draft data
        table = soup.find('table', {'id': 'drafts'})
        
        # Ensure the table is found
        if table:
            # Loop through the rows in the table (skip the header row)
            for row in table.find_all('tr')[1:]:
                # Find the <th> element that contains the round info (this replaces 'get_text' from <td>)
                draft_round = row.find('th', {'data-stat': 'draft_round'})
                
                # Extract the round number from the "data-stat" attribute
                if draft_round:
                    round_number = draft_round.get_text()  # Get the text for round number
                else:
                    round_number = None  # If no round information is found, set to None
                
                # Find the <td> elements for other player data (Pick, Name, College, Position, Team)
                cells = row.find_all('td')
                
                if len(cells) > 5:  # Ensure the row has enough cells to extract data
                    pick = cells[0].get_text()
                    team = cells[1].get_text()
                    name = cells[2].get_text()
                    position = cells[3].get_text()
                    age = cells[4].get_text()
                    games = cells[11].get_text()
                    p_comp = cells[12].get_text()
                    p_att = cells[13].get_text()
                    p_yds = cells[14].get_text()
                    p_tds = cells[15].get_text()
                    ints = cells[16].get_text()
                    r_att = cells[17].get_text()
                    r_yds = cells[18].get_text()
                    r_tds = cells[19].get_text()


                    # Append the extracted data as a dictionary
                    player_data = {
                        'Year': year,  # Include the draft year for reference
                        'Draft Round': round_number,
                        'Pick': pick,
                        'Team': team,
                        'Name': name,
                        'Position': position,
                        'Age': age,
                        'GP': games,
                        'Pass Comps': p_comp,
                        'Pass Atts': p_att,
                        'Pass Yards': p_yds,
                        'Pass TDs': p_tds,
                        'Ints' : ints,
                        'Rush Atts': r_att,
                        'Rush Yards': r_yds,
                        'Rush TDs': r_tds
                    }
                    draft_data.append(player_data)
        else:
            print(f"Table not found for {year}")
    else:
        print(f"Failed to retrieve data for {year}. Status code: {response.status_code}")
    
    # Sleep for 1-2 seconds before making the next request to avoid rate limiting
    time.sleep(1 + (year % 3))  # Sleep for 1 to 3 seconds (this adds a small variation)

# Convert the list of dictionaries into a pandas DataFrame
df = pd.DataFrame(draft_data)

# Filter the DataFrame for quarterbacks (Position == 'QB')
df_qb = df[df['Position'] == 'QB']

# Filter for first round picks (Draft Round == '1')
df_first_round = df_qb[df_qb['Draft Round'] == '1']

# Display the first 10 rows of the filtered DataFrame for first-round quarterbacks
print(df_first_round.head(10))

# Optionally, save the filtered DataFrame to a CSV file
df_first_round.to_csv('fr_qb_draft_data.csv', index=False)

     Year Draft Round Pick Team                Name Position Age  GP  \
0    2024           1    1  CHI      Caleb Williams       QB  22   9
1    2024           1    2  WAS      Jayden Daniels       QB  23  10
2    2024           1    3  NWE          Drake Maye       QB  22   6
7    2024           1    8  ATL       Michael Penix       QB  24   1
9    2024           1   10  MIN       J.J. McCarthy       QB  21
11   2024           1   12  DEN              Bo Nix       QB  24  10
257  2023           1    1  CAR         Bryce Young       QB  22  23
258  2023           1    2  HOU         C.J. Stroud       QB  21  25
260  2023           1    4  IND  Anthony Richardson       QB  21  10
535  2022           1   20  PIT       Kenny Pickett       QB  24  27

    Pass Comps Pass Atts Pass Yards Pass TDs Ints Rush Atts Rush Yards  \
0          178       294       1785        9    5        40        236
1          180       262       2147        9    2        85        464
2           97       150        954        7    5        25        233
7            1         1         14        0    0         0          0
9
11         206       324       1968       10    6        61        290
257        407       680       3697       15   16        54        324
258        526       828       6479       35   11        71        315
260        109       217       1535        7    8        66        378
535        447       716       4479       13   13        98        292

    Rush TDs
0          0
1          4
2          1
7          0
9
11         4
257        1
258        3
260        5
535        4

In [3]:
# Loop through the rows in the table (skip the header row)
for row in table.find_all('tr')[1:]:
    cells = row.find_all('td')
    
    # Print the number of cells and their contents
    print(f"Number of cells in this row: {len(cells)}")
    for cell in cells:
        print(cell.get_text())  # This will print the content of each cell
    
    # Proceed with your logic
    if len(cells) > 5:  # Ensure the row has enough cells to extract data
        pick = cells[0].get_text()
        team = cells[1].get_text()
        name = cells[2].get_text()
        position = cells[3].get_text()
        age = cells[4].get_text()
        games = cells[11].get_text()
        p_comp = cells[12].get_text()
        p_att = cells[13].get_text()
        p_yds = cells[14].get_text()
        p_tds = cells[15].get_text()
        ints = cells[16].get_text()
        r_att = cells[17].get_text()
        r_yds = cells[18].get_text()
        r_tds = cells[19].get_text()

        #cell 5 - to
        #cell 6 - ap1
        #cell 7 - pb
        #cell 8 - st
        #cell 9 - wAV
        #cell 10 - DrAV
        #cell 11 - games played
        #cell 12 - completions
        #cell 13 - pass attempts
        #cell 14 - pass yds
        #cell 15 - pass tds
        #cell 16 - ints
        #cell 17 - rush atts
        #cell 18 - rush yds
        #cell 19 - rush tds
        #cell 20 - 
        #cell 21 - 
        #cell 22 - 
        #cell 23 - 
        #cell 24 - 
        #cell 25 - 
        #cell 26 - 
        #cell 27 - 
        #cell 28 -

Number of cells in this row: 0
Number of cells in this row: 28
1
DET
Matthew Stafford
QB
21
2024
0
2
14
121
98
215
5048
7971
58309
366
187
419
1308
15
2
-3
0
1


Georgia
College Stats
Number of cells in this row: 28
2
STL
Jason Smith
T
23
2012
0
0
2
10
9
45
0
0
0
0
0
0
0
0
0
0
0



Baylor
College Stats
Number of cells in this row: 28
3
KAN
Tyson Jackson
DE
23
2016
0
0
7
34
23
122
0
0
0
0
0
0
0
0
0
0
0
167

9.0
LSU
College Stats
Number of cells in this row: 28
4
SEA
Aaron Curry
LB
23
2012
0
0
3
16
12
48
0
0
0
0
0
0
0
0
0
0
0
163

5.5
Wake Forest
College Stats
Number of cells in this row: 28
5
NYJ
Mark Sanchez
QB
22
2018
0
0
4
32
26
79
1314
2320
15357
86
89
170
457
13
0
0
0



USC
College Stats
Number of cells in this row: 28
6
CIN
Andre Smith
T
22
2021
0
0
8
41
37
121
0
0
0
0
0
0
0
0
0
0
0



Alabama
College Stats
Number of cells in this row: 28
7
OAK
Darrius Heyward-Bey
WR
22
2018
0
0
5
23
17
144
0
0
0
0
0
15
194
2
202
2897
16
17


Maryland
College Stats
Number of cells in this row: 28
8
JAX
Eugene Monroe
T
22
2015
0
0
6
32
22
93
0
0
0
0
0
0
0
0
0
0
0



Virginia
College Stats
Number of cells in this row: 28
9
GNB
B.J. Raji
DT
23
2015
0
1
5
33
33
91
0
0
0
0
0
1
1
1
0
0
0
103

11.0
Boston Col.
College Stats
Number of cells in this row: 28
10
SFO
Michael Crabtree
WR
21
2019
0
0
10
53
33
143
0
0
0
0
0
3
18
0
637
7499
54



Texas Tech
College Stats
Number of cells in this row: 28
11
BUF
Aaron Maybin
DE
21
2012
0
0
0
5
2
48
0
0
0
0
0
0
0
0
0
0
0
27

6.0
Penn St.
College Stats
Number of cells in this row: 28
12
DEN
Knowshon Moreno
RB
22
2014
0
0
3
33
32
63
0
0
0
0
0
876
3616
27
158
1409
9



Georgia
College Stats
Number of cells in this row: 28
13
WAS
Brian Orakpo
LB
23
2018
0
4
8
58
33
132
0
0
0
0
0
0
0
0
0
0
0
294
1
66.0
Texas
College Stats
Number of cells in this row: 28
14
NOR
Malcolm Jenkins
DB
21
2021
0
3
12
68
32
199
0
0
0
0
0
0
0
0
0
0
0
804
21
13.5
Ohio St.
College Stats
Number of cells in this row: 28
15
HOU
Brian Cushing
LB
22
2017
0
1
7
52
52
104
0
0
0
0
0
0
0
0
0
0
0
424
8
13.5
USC
College Stats
Number of cells in this row: 28
16
SDG
Larry English
LB
23
2014
0
0
1
7
7
64
0
0
0
0
0
0
0
0
0
0
0
70

12.0
Northern Illinois
College Stats
Number of cells in this row: 28
17
TAM
Josh Freeman
QB
21
2015
0
0
4
37
36
62
1179
2048
13873
81
68
205
946
4
0
-3
0



Kansas St.
College Stats
Number of cells in this row: 28
18
DEN
Robert Ayers
DE
24
2017
0
0
5
27
13
120
0
0
0
0
0
0
0
0
0
0
0
192

34.5
Tennessee
College Stats
Number of cells in this row: 28
19
PHI
Jeremy Maclin
WR
21
2017
0
0
8
50
33
114
0
1
0
0
0
10
43
0
514
6835
49



Missouri
College Stats
Number of cells in this row: 28
20
DET
Brandon Pettigrew
TE
24
2015
0
0
7
22
22
93
0
0
0
0
0
0
0
0
301
2965
17
1


Oklahoma St.
College Stats
Number of cells in this row: 28
21
CLE
Alex Mack
C
23
2021
0
7
12
86
30
196
0
0
0
0
0
0
0
0
0
0
0



California
College Stats
Number of cells in this row: 28
22
MIN
Percy Harvin
WR
21
2016
0
1
4
43
37
75
0
0
0
0
0
146
927
5
353
4026
22



Florida
College Stats
Number of cells in this row: 28
23
BAL
Michael Oher
T
23
2016
0
0
7
42
33
110
0
0
0
0
0
0
0
0
1
-8
0



Mississippi
College Stats
Number of cells in this row: 28
24
ATL
Peria Jerry
DT
25
2013
0
0
2
13
13
64
0
0
0
0
0
0
0
0
0
0
0
51

5.5
Mississippi
College Stats
Number of cells in this row: 28
25
MIA
Vontae Davis
DB
21
2018
0
2
8
45
12
121
0
0
0
0
0
0
0
0
0
0
0
344
22
2.0
Illinois
College Stats
Number of cells in this row: 28
26
GNB
Clay Matthews
LB
23
2019
1
6
10
77
75
156
0
0
0
0
0
0
0
0
0
0
0
383
6
91.5
USC
College Stats
Number of cells in this row: 28
27
IND
Donald Brown
RB
22
2015
0
0
1
25
21
89
0
0
0
0
0
695
2829
18
120
1066
2
9


Connecticut
College Stats
Number of cells in this row: 28
28
BUF
Eric Wood
C
23
2017
0
1
9
47
47
120
0
0
0
0
0
0
0
0
0
0
0



Louisville
College Stats
Number of cells in this row: 28
29
NYG
Hakeem Nicks
WR
21
2015
0
0
4
40
37
92
0
0
0
0
0
2
8
0
356
5081
31



North Carolina
College Stats
Number of cells in this row: 28
30
TEN
Kenny Britt
WR
20
2017
0
0
5
35
20
116
0
0
0
0
0
2
14
0
329
5137
32



Rutgers
College Stats
Number of cells in this row: 28
31
ARI
Beanie Wells
RB
21
2012
0
0
2
14
14
51
0
0
0
0
0
625
2471
24
28
293
0
3


Ohio St.
College Stats
Number of cells in this row: 28
32
PIT
Evander Hood
DE
22
2018
0
0
5
38
27
142
0
0
0
0
0
0
0
0
0
0
0
141

14.0
Missouri
College Stats
Number of cells in this row: 0
Number of cells in this row: 28
33
DET
Louis Delmas
DB
22
2014
0
0
6
25
22
78
0
0
0
0
0
0
0
0
0
0
0
290
7
6.0
Western Michigan
College Stats
Number of cells in this row: 28
34
NWE
Patrick Chung
DB
22
2019
0
0
10
38
35
153
0
0
0
0
0
0
0
0
0
0
0
521
11
4.5
Oregon
College Stats
Number of cells in this row: 28
35
STL
James Laurinaitis
LB
22
2016
0
0
7
51
51
117
0
0
0
0
0
0
0
0
0
0
0
664
10
16.5
Ohio St.
College Stats
Number of cells in this row: 28
36
CLE
Brian Robiskie
WR
21
2013
0
0
1
3
3
38
0
0
0
0
0
0
0
0
43
485
4
3


Ohio St.
College Stats
Number of cells in this row: 28
37
DEN
Alphonso Smith
DB
23
2012
0
0
1
8
1
42
0
0
0
0
0
0
0
0
0
0
0
70
8

Wake Forest
College Stats
Number of cells in this row: 28
38
CIN
Rey Maualuga
LB
22
2017
0
0
9
49
47
120
0
0
0
0
0
0
0
0
0
0
0
357
7
4.0
USC
College Stats
Number of cells in this row: 28
39
JAX
Eben Britton
T
21
2014
0
0
1
17
13
60
0
0
0
0
0
0
0
0
0
0
0



Arizona
College Stats
Number of cells in this row: 28
40
NWE
Ron Brace
DT
22
2012
0
0
1
6
6
39
0
0
0
0
0
0
0
0
0
0
0
24


Boston Col.
College Stats
Number of cells in this row: 28
41
NWE
Darius Butler
DB
23
2017
0
0
0
22
5
124
0
0
0
0
0
0
0
0
0
0
0
278
15

Connecticut
College Stats
Number of cells in this row: 28
42
BUF
Jairus Byrd
DB
22
2017
0
3
7
38
31
118
0
0
0
0
0
0
0
0
0
0
0
379
25
4.0
Oregon
College Stats
Number of cells in this row: 28
43
CAR
Everette Brown
DE
22
2014
0
0
0
6
5
44
0
0
0
0
0
0
0
0
0
0
0
48
1
7.0
Florida St.
College Stats
Number of cells in this row: 28
44
MIA
Pat White
QB
23
2009
0
0
0
1
1
13
0
5
0
0
0
21
81
0
0
0
0



West Virginia
College Stats
Number of cells in this row: 28
45
NYG
Clint Sintim
LB
23
2010
0
0
0
2
2
24
0
0
0
0
0
0
0
0
0
0
0
21

1.0
Virginia
College Stats
Number of cells in this row: 28
46
HOU
Connor Barwin
DE
22
2018
0
1
7
51
16
142
0
0
0
0
0
0
0
0
0
0
0
269
1
56.5
Cincinnati
College Stats
Number of cells in this row: 28
47
OAK
Mike Mitchell
DB
22
2018
0
0
5
33
4
145
0
0
0
0
0
0
0
0
0
0
0
379
11
7.5
Ohio
College Stats
Number of cells in this row: 28
48
DEN
Darcel McBath
DB
23
2012
0
0
0
3
2
37
0
0
0
0
0
0
0
0
0
0
0
44
2

Texas Tech
College Stats
Number of cells in this row: 28
49
SEA
Max Unger
C
23
2018
1
3
9
69
34
130
0
0
0
0
0
0
0
0
0
0
0



Oregon
College Stats
Number of cells in this row: 28
50
CLE
Mohamed Massaquoi
WR
22
2012
0
0
3
11
11
54
1
1
29
1
0
2
-6
0
118
1745
7



Georgia
College Stats
Number of cells in this row: 28
51
BUF
Andy Levitre
G
23
2018
0
0
9
55
22
143
0
0
0
0
0
0
0
0
0
0
0



Oregon St.
College Stats
Number of cells in this row: 28
52
CLE
David Veikune
LB
23
2010
0
0
0
1
1
14
0
0
0
0
0
0
0
0
0
0
0
3


Hawaii
College Stats
Number of cells in this row: 28
53
PHI
LeSean McCoy
RB
21
2020
2
6
10
83
50
170
0
0
0
0
0
2457
11102
73
518
3898
16



Pittsburgh
College Stats
Number of cells in this row: 28
54
MIN
Phil Loadholt
T
23
2014
0
0
6
36
36
89
0
0
0
0
0
0
0
0
0
0
0



Oklahoma
College Stats
Number of cells in this row: 28
55
ATL
William Moore
DB
24
2015
0
1
5
30
30
76
0
0
0
0
0
0
0
0
0
0
0
276
16
3.5
Missouri
College Stats
Number of cells in this row: 28
56
IND
Fili Moala
DT
24
2013
0
0
3
19
19
64
0
0
0
0
0
0
0
0
0
0
0
49

3.5
USC
College Stats
Number of cells in this row: 28
57
BAL
Paul Kruger
DE
23
2016
0
0
4
29
7
114
0
0
0
0
0
0
0
0
0
0
0
145
2
35.0
Utah
College Stats
Number of cells in this row: 28
58
NWE
Sebastian Vollmer
T
25
2015
0
0
5
52
52
88
0
0
0
0
0
0
0
0
0
0
0



Houston
College Stats
Number of cells in this row: 28
59
CAR
Sherrod Martin
DB
24
2015
0
0
2
16
13
84
0
0
0
0
0
0
0
0
0
0
0
162
8

Troy
College Stats
Number of cells in this row: 28
60
NYG
Will Beatty
T
24
2017
0
0
4
30
30
89
0
0
0
0
0
0
0
0
0
0
0



Connecticut
College Stats
Number of cells in this row: 28
61
MIA
Sean Smith
DB
22
2017
0
0
8
38
20
137
0
0
0
0
0
0
0
0
0
0
0
375
14

Utah
College Stats
Number of cells in this row: 28
62
TEN
Sen'Derrick Marks
DT
22
2016
0
0
4
27
11
103
0
0
0
0
0
0
0
0
0
0
0
150
1
19.0
Auburn
College Stats
Number of cells in this row: 28
63
ARI
Cody Brown
LB
22

0
0
0

















Connecticut
College Stats
Number of cells in this row: 28
64
DEN
Richard Quinn
TE
23
2011
0
0
0
0
0
30
0
0
0
0
0
0
0
0
1
9
0
7


North Carolina
College Stats
Number of cells in this row: 0
Number of cells in this row: 28
65
NYJ
Shonn Greene
RB
24
2014
0
0
2
23
20
85
0
0
0
0
0
993
4110
24
72
534
0



Iowa
College Stats
Number of cells in this row: 28
66
STL
Bradley Fletcher
DB
23
2015
0
0
3
24
13
73
0
0
0
0
0
0
0
0
0
0
0
258
8
1.0
Iowa
College Stats
Number of cells in this row: 28
67
KAN
Alex Magee
DE
22
2010
0
0
0
2
1
25
0
0
0
0
0
0
0
0
0
0
0
14

4.0
Purdue
College Stats
Number of cells in this row: 28
68
CHI
Jarron Gilbert
DT
22
2010
0
0
0
0
0
5
0
0
0
0
0
0
0
0
0
0
0
2


San Jose St.
College Stats
Number of cells in this row: 28
69
DAL
Jason Williams
LB
23
2014
0
0
0
4
0
60
0
0
0
0
0
0
0
0
0
0
0
46


Western Illinois

Number of cells in this row: 28
70
CIN
Michael Johnson
DE
22
2018
0
0
8
54
50
155
0
0
0
0
0
0
0
0
0
0
0
268
4
44.5
Georgia Tech
College Stats
Number of cells in this row: 28
71
OAK
Matt Shaughnessy
DE
22
2014
0
0
3
22
13
75
0
0
0
0
0
0
0
0
0
0
0
143

18.5
Wisconsin
College Stats
Number of cells in this row: 28
72
JAX
Terrance Knighton
DT
23
2015
0
0
6
37
18
108
0
0
0
0
0
0
0
0
0
0
0
148
2
14.0
Temple
College Stats
Number of cells in this row: 28
73
JAX
Derek Cox
DB
22
2013
0
0
4
20
17
63
0
0
0
0
0
0
0
0
0
0
0
204
13

William & Mary

Number of cells in this row: 28
74
SFO
Glen Coffee
RB
22
2009
0
0
0
2
2
14
0
0
0
0
0
83
226
1
11
76
0
7


Alabama
College Stats
Number of cells in this row: 28
75
DAL
Robert Brewster
T
23
2010
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0



Ball St.

Number of cells in this row: 28
76
DET
DeAndre Levy
LB
22
2016
0
0
6
45
45
95
0
0
0
0
0
0
0
0
0
0
0
459
12
3.5
Wisconsin
College Stats
Number of cells in this row: 28
77
HOU
Antoine Caldwell
G
23
2012
0
0
0
11
11
39
0
0
0
0
0
0
0
0
0
0
0



Alabama
College Stats
Number of cells in this row: 28
78
SDG
Louis Vasquez
G
22
2015
1
1
7
59
25
102
0
0
0
0
0
0
0
0
0
0
0



Texas Tech
College Stats
Number of cells in this row: 28
79
PIT
Kraig Urbik
T
23
2016
0
0
4
27

100
0
0
0
0
0
0
0
0
0
0
0



Wisconsin
College Stats
Number of cells in this row: 28
80
WAS
Kevin Barnes
DB
22
2012
0
0
0
3
3
31
0
0
0
0
0
0
0
0
0
0
0
40
3

Maryland
College Stats
Number of cells in this row: 28
81
TAM
Roy Miller
DT
22
2017
0
0
5
33
15
119
0
0
0
0
0
0
0
0
0
0
0
169

8.0
Texas
College Stats
Number of cells in this row: 28
82
DET
Derrick Williams
WR
23
2010
0
0
0
0
0
18
0
0
0
0
0
1
4
0
9
82
0
1


Penn St.
College Stats
Number of cells in this row: 28
83
NWE
Brandon Tate
WR
21
2018
0
0
1
16
8
127
0
0
0
0
0
13
142
0
71
1099
7
3


North Carolina
College Stats
Number of cells in this row: 28
84
PIT
Mike Wallace
WR
23
2018
0
1
8
57
32
144
0
1
0
0
0
34
241
0
538
8072
57
1


Mississippi
College Stats
Number of cells in this row: 28
85
NYG
Ramses Barden
WR
23
2012
0
0
0
5
5
29
0
0
0
0
0
0
0
0
29
394
0



Cal Poly-San Luis Obispo

Number of cells in this row: 28
86
MIN
Asher Allen
DB
21
2011
0
0
2
8
8
36
0
0
0
0
0
0
0
0
0
0
0
111
4
1.0
Georgia
College Stats
Number of cells in this row: 28
87
MIA
Patrick Turner
WR
22
2012
0
0
0
1
0
24
0
0
0
0
0
0
0
0
10
122
1
4


USC
College Stats
Number of cells in this row: 28
88
BAL
Lardarius Webb
DB
23
2017
0
0
5
36
36
127
0
0
0
0
0
0
0
0
0
0
0
400
15
5.0
Nicholls St.

Number of cells in this row: 28
89
TEN
Jared Cook
TE
22
2021
0
2
5
48
10
194
0
0
0
0
0
1
0
0
553
7237
45
8


South Carolina
College Stats
Number of cells in this row: 28
90
ATL
Chris Owens
DB
22
2015
0
0
1
11
7
87
0
0
0
0
0
0
0
0
0
0
0
173
3
4.0
San Jose St.
College Stats
Number of cells in this row: 28
91
SEA
Deon Butler
WR
23
2012
0
0
1
4
4
35
0
0
0
0
0
2
6
0
57
611
4
4


Penn St.
College Stats
Number of cells in this row: 28
92
IND
Jerraud Powers
DB
22
2016
0
0
7
30
13
100
0
0
0
0
0
0
0
0
0
0
0
345
13
3.0
Auburn
College Stats
Number of cells in this row: 28
93
CAR
Corvey Irvin
DT
24
2013
0
0
0
1
0
24
0
0
0
0
0
0
0
0
0
0
0
9


Georgia
College Stats
Number of cells in this row: 28
94
TEN
Ryan Mouton
DB
22
2012
0
0
0
4
4
36
0
0
0
0
0
0
0
0
0
0
0
60


Hawaii
College Stats
Number of cells in this row: 28
95
ARI
Rashad Johnson
DB
23
2016
0
0
4
25
23
114
0
0
0
0
0
2
64
0
0
0
0
307
15
1.0
Alabama
College Stats
Number of cells in this row: 28
96
PIT
Keenan Lewis
DB
23
2015
0
0
3
22
11
83
0
0
0
0
0
0
0
0
0
0
0
177
7

Oregon St.
College Stats
Number of cells in this row: 28
97
NWE
Tyrone McKenzie
LB
23
2012
0
0
0
1

19
0
0
0
0
0
0
0
0
0
0
0
17


South Florida
College Stats
Number of cells in this row: 28
98
CIN
Chase Coffman
TE
22
2016
0
0
0
0
0
39
0
0
0
0
0
0
0
0
18
177
2



Missouri
College Stats
Number of cells in this row: 28
99
CHI
Juaquin Iglesias
WR
22
2009
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1


Oklahoma
College Stats
Number of cells in this row: 28
100
NYG
Travis Beckum
TE
22
2012
0
0
0
2
2
48
0
0
0
0
0
0
0
0
26
264
3
5


Wisconsin
College Stats
Number of cells in this row: 0
Number of cells in this row: 28
101
DAL
Stephen McGee
QB
23
2011
0
0
0
2
2
3
46
82
420
3
0
17
102
0
0
0
0



Texas A&M
College Stats
Number of cells in this row: 28
102
KAN
Donald Washington
DB
23
2011
0
0
0
4
4
32
0
0
0
0
0
0
0
0
0
0
0
40


Ohio St.
College Stats
Number of cells in this row: 28
103
STL
Darell Scott
DT
23
2011
0
0
0
5
5
33
0
0
0
0
0
0
0
0
0
0
0
43


Clemson

Number of cells in this row: 28
104
CLE
Kaluka Maiava
LB
22
2014
0
0
1
13
12
63
0
0
0
0
0
0
0
0
0
0
0
117

4.5
USC
College Stats
Number of cells in this row: 28
105
CHI
Henry Melton
DE
22
2015
0
1
2
25
21
80
0
0
0
0
0
0
0
0
0
0
0
95

22.5
Texas
College Stats
Number of cells in this row: 28
106
CIN
Jonathan Luigs
C
23
2009
0
0
0
1
1
8
0
0
0
0
0
0
0
0
0
0
0



Arkansas
College Stats
Number of cells in this row: 28
107
JAX
Mike Thomas
WR
22
2012
0
0
2
21
20
61
0
0
0
0
0
34
268
0
176
1796
7



Arizona
College Stats
Number of cells in this row: 28
108
MIA
Brian Hartline
WR
22
2015
0
0
5
32
30
104
0
0
0
0
0
7
65
1
344
4766
14
8


Ohio St.
College Stats
Number of cells in this row: 28
109
GNB
T.J. Lang
T
21
2018
0
2
7
61
53
138
0
0
0
0
0
0
0
0
0
0
0



Eastern Michigan
College Stats
Number of cells in this row: 28
110
DAL
Victor Butler
LB
22
2014
0
0
0
6
6
65
0
0
0
0
0
0
0
0
0
0
0
70

11.0
Oregon St.
College Stats
Number of cells in this row: 28
111
CAR
Mike Goodson
RB
22
2013
0
0
0
7
4
42
0
0
0
0
0
167
783
3
61
543
1
4


Texas A&M
College Stats
Number of cells in this row: 28
112
HOU
Glover Quin
DB
23
2018
0
1
10
51
17
159
0
0
0
0
0
0
0
0
0
0
0
580
24
4.0
New Mexico
College Stats
Number of cells in this row: 28
113
SDG
Vaughn Martin
DT
23
2013
0
0
2
12
12
51
0
0
0
0
0
0
0
0
0
0
0
47

3.0
Western Ontario

Number of cells in this row: 28
114
DEN
David Bruton
DB
22
2016
0
0
0
10
9
108
0
0
0
0
0
2
48
0
0
0
0
152
3
2.0
Notre Dame
College Stats
Number of cells in this row: 28
115
DET
Sammie Lee Hill
DT
22
2015
0
0
3
21
9
97
0
0
0
0
0
0
0
0
0
0
0
101

7.0
Stillman

Number of cells in this row: 28
116
NOR
Chip Vaughn
DB
23
2010
0
0
0
0

3
0
0
0
0
0
0
0
0
0
0
0
1


Wake Forest
College Stats
Number of cells in this row: 28
117
TAM
Kyle Moore
DE
22
2012
0
0
1
8
5
31
0
0
0
0
0
0
0
0
0
0
0
36

3.0
USC
College Stats
Number of cells in this row: 28
118
NOR
Stanley Arnoux
LB
22
2010
0
0
0
1
1
9
0
0
0
0
0
0
0
0
0
0
0
3


Wake Forest
College Stats
Number of cells in this row: 28
119
CHI
D.J. Moore
DB
22
2013
0
0
0
6
6
47
0
0
0
0
0
0
0
0
0
0
0
99
10
1.0
Vanderbilt
College Stats
Number of cells in this row: 28
120
DAL
Brandon Williams
DE
21
2010
0
0
0
0
0
6
0
0
0
0
0
0
0
0
0
0
0
4


Texas Tech
College Stats
Number of cells in this row: 28
121
BUF
Shawn Nelson
TE
23
2010
0
0
1
1
1
17
0
0
0
0
0
0
0
0
20
181
1
1


Southern Miss
College Stats
Number of cells in this row: 28
122
HOU
Anthony Hill
TE
24
2011
0
0
0
0
0
12
0
0
0
0
0
0
0
0
3
19
0



North Carolina St.
College Stats
Number of cells in this row: 28
123
NWE
Rich Ohrnberger
G
23
2014
0
0
1
8
0
39
0
0
0
0
0
0
0
0
0
0
0



Penn St.

Number of cells in this row: 28
124
OAK
Louis Murphy
WR
22
2017
0
0
1
19
11
95
0
0
0
0
0
14
146
1
170
2443
11



Florida
College Stats
Number of cells in this row: 28
125
ATL
Lawrence Sidbury
DE
23
2015
0
0
0
5
5
50
0
0
0
0
0
0
0
0
0
0
0
15

5.0
Richmond

Number of cells in this row: 28
126
OAK
Slade Norris
DE
23
2010
0
0
0
0
0
9
0
0
0
0
0
0
0
0
0
0
0
2


Oregon St.
College Stats
Number of cells in this row: 28
127
IND
Austin Collie
WR
23
2013
0
0
0
18
17
49
0
0
0
0
0
2
1
0
179
1908
16



BYU
College Stats
Number of cells in this row: 28
128
CAR
Tony Fiammetta
RB
23
2014
0
0
2
1
0
51
0
0
0
0
0
11
26
0
12
130
0
4


Syracuse
College Stats
Number of cells in this row: 28
129
NYG
Andre Brown
RB
22
2013
0
0
1
7
7
22
0
0
0
0
0
214
876
11
32
189
0
1


North Carolina St.
College Stats
Number of cells in this row: 28
130
TEN
Gerald McRath
LB
23
2011
0
0
1
7
7
40
0
0
0
0
0
0
0
0
0
0
0
87
1
1.5
Southern Miss
College Stats
Number of cells in this row: 28
131
ARI
Greg Toler
DB
24
2016
0
0
4
21
7
88
0
0
0
0
0
0
0
0
0
0
0
243
8
2.0
St. Paul's

Number of cells in this row: 28
132
DEN
Seth Olsen
G
23
2012
0
0
0
3
0
14
0
0
0
0
0
0
0
0
0
0
0



Iowa
College Stats
Number of cells in this row: 28
133
SDG
Tyronne Green
G
23
2012
0
0
2
15
15
41
0
0
0
0
0
0
0
0
0
0
0



Auburn
College Stats
Number of cells in this row: 28
134
SDG
Gartrell Johnson
RB
23
2010
0
0
0
0

19
0
0
0
0
0
23
79
0
3
6
0
3


Colorado St.
College Stats
Number of cells in this row: 28
135
TEN
Troy Kropog
T
23
2012
0
0
0
0
0
7
0
0
0
0
0
0
0
0
0
0
0



Tulane
College Stats
Number of cells in this row: 28
136
IND
Terrance Taylor
DT


0
0
0

















Michigan
College Stats
Number of cells in this row: 0
Number of cells in this row: 28
137
BAL
Jason Phillips
LB
23
2012
0
0
0
3
1
29
0
0
0
0
0
0
0
0
0
0
0
25


TCU
College Stats
Number of cells in this row: 28
138
ATL
William Middleton
DB
23
2012
0
0
1
8

49
0
0
0
0
0
0
0
0
0
0
0
108
2
1.0
Furman

Number of cells in this row: 28
139
KAN
Colin Brown
T
24
2013
0
0
0
3

18
0
0
0
0
0
0
0
0
0
0
0



Missouri
College Stats
Number of cells in this row: 28
140
CHI
Johnny Knox
WR
22
2011
0
1
2
20
20
45
0
0
0
0
0
1
2
0
133
2214
12
1


Abilene Christian

Number of cells in this row: 28
141
DEN
Kenny McKinley
WR
22
2009
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
3


South Carolina
College Stats
Number of cells in this row: 28
142
CIN
Kevin Huber
P
24
2022
0
1
1
23
23
216
0
0
0
0
0
3
-1
0
0
0
0
4


Cincinnati
College Stats
Number of cells in this row: 28
143
DAL
DeAngelo Smith
DB
23
2009
0
0
0
1

7
0
0
0
0
0
0
0
0
0
0
0
10


Cincinnati
College Stats
Number of cells in this row: 28
144
JAX
Jarett Dillard
WR
23
2011
0
0
0
4
4
21
0
0
0
0
0
0
0
0
35
398
1



Rice
College Stats
Number of cells in this row: 28
145
GNB
Quinn Johnson
RB
22
2013
0
0
1
0
0
44
0
0
0
0
0
4
5
0
13
100
0
4


LSU
College Stats
Number of cells in this row: 28
146
SFO
Scott McKillop
LB
23
2009
0
0
0
2
2
16
0
0
0
0
0
0
0
0
0
0
0
15


Pittsburgh
College Stats
Number of cells in this row: 28
147
BUF
Nic Harris
LB
22
2010
0
0
0
5
2
30
0
0
0
0
0
0
0
0
0
0
0
50

1.5
Oklahoma
College Stats
Number of cells in this row: 28
148
SDG
Brandon Hughes
DB
23
2013
0
0
0
2

31
0
0
0
0
0
0
0
0
0
0
0
28


Oregon St.
College Stats
Number of cells in this row: 28
149
BAL
Davon Drew
TE
23

0
0
0

















East Carolina
College Stats
Number of cells in this row: 28
150
MIN
Jasper Brinkley
LB
24
2015
0
0
3
21
16
94
0
0
0
0
0
0
0
0
0
0
0
234

2.0
South Carolina
College Stats
Number of cells in this row: 28
151
NYG
Rhett Bomar
QB
24

0
0
0

















Sam Houston St.

Number of cells in this row: 28
152
HOU
James Casey
TE
24
2015
0
0
1
7
7
95
0
0
0
0
0
2
17
0
72
842
6
37


Rice
College Stats
Number of cells in this row: 28
153
PHI